<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,viewport-fit=cover" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />
  <title>Mpa Page</title>
</head>

<body>
  <div id="<%= mountId %>"></div>

  <script>
    ; (() => {
      var e = 375
      if (screen.width !== e) {
        var i = document.querySelector("meta[name='viewport']"),
          t = screen.width,
          n = 1
        if (screen.width === 1080) {
          t = 360
        }
        if (
          /Android\s4\.3.*UCBrowser\/11\.1\.0\.870.*/.test(
            window.navigator.userAgent,
          )
        ) {
          t = 360
        }
        n = t / e
        i.content =
          'width=' +
          e +
          ',initial-scale=' +
          n +
          ',maximum-scale=' +
          n +
          ',minimum-scale=' +
          n
      }
    })()
  </script>
</body>

</html>
